/** @format */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;900&display=swap");

:root {
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: 198, 100%, 35%;
  --secondary: 81, 67%, 44%;
  --background: 0, 0%, 94.5%;
  --base: 0, 0%, 100%;
  --dark-base: 0, 0%, 0%;
  --content: 0, 0%, 0%;
  --dark-content: 0, 0%, 100%;
  --white: 0, 0%, 100%;
  --information: 198, 100%, 35%;
  --success: 81, 67%, 44%;
  --error: 4, 77%, 48%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid #333333;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.sakura {
  transform: rotateY(180deg);
  position: absolute;
  bottom: 0;
  width: 110px;
  right: -110px;
  animation: sakura-animation 5s infinite linear;
}

@keyframes sakura-animation {
  from {
    right: -50px;
  }

  to {
    right: 100%;
  }
}
